name: Test

on:
  [push]

jobs:
  code_stability_test:
    runs-on: ubuntu-latest
    name: Code stability test. Run analyzer against our own code.
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm install
      - name: Rebuild the dist directory
        run: npm run prepare
      - name: Inclusiveness Analyzer action step
        id: analyzer
        uses: ./
        with:
          excludeFromScan: '**/node_modules/*,**/dist/*'
